/backend/HELP.md
/backend/target/
/backend/.mvn/
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backendbuild/
/backend/!**/src/main/**/build/
/backend/!**/src/test/**/build/

### VS Code ###
/backend/.vscode/


node_modules