<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkillXT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/images/vulbis_orig.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Dofus Vulbis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ne faisant pas partie des 6 Dofus primordiaux, cet oeuf est pourtant le plus convoité et le plus cher de tous. Sa puissance n'a d'égal que son prix
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Genshin Impact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Le jeu open world, free to play par excellence
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Connection</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="tertiary" shape="round" size="small" routerLink="/sign-in">Se Connecter</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-label>Pas de compte ?</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-button color="tertiary" shape="round" size="small" routerLink="/sign-up">Créer un compte</ion-button>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Accéder aux paramètres</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" shape="round" size="small" routerLink="/settings">Paramètres</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-item detail routerLink="/settings">
    <ion-label>Paramètres</ion-label>
  </ion-item>

</ion-content>

<ion-footer>

</ion-footer>