<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tab1" text="retour"></ion-back-button>
    </ion-buttons>

    <ion-title>Créer un compte</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
<ion-card>
  <ion-title color="primary">
    SkillXT
  </ion-title>
</ion-card>

  <ion-card>
    <ion-card>
      <ion-input placeholder="nom" autocapitalize="on" autocorrect="off" autofocus="true"></ion-input>
      <ion-input placeholder="prénom" autocorrect="off"></ion-input>
    </ion-card>

    <ion-card>
      <ion-input placeholder="mail" autocorrect="off"></ion-input>
    </ion-card>

    <ion-card>
      <ion-input placeholder="mot de passe" autocorrect="off" type="password"></ion-input>
      <ion-input placeholder="confirmer mot de passe" autocorrect="off" type="password"></ion-input>
    </ion-card>
  </ion-card>
</ion-content>


<ion-footer>

</ion-footer>
