<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="./assets/images/logoSXT.png">
  <ion-card *ngIf="!display()">
    <ion-card-header>
      <ion-card-title>Connexion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" size="small" routerLink="/sign-in">Se Connecter</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-label class="ion-text-center">Pas de compte ?</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-button shape="round" size="small" routerLink="/sign-up">Créer un compte</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button shape="round" size="small" (click)="refresh()"><ion-icon name="reload-outline"></ion-icon>refresh</ion-button>

  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>Bienvenue {{user.name}} {{user.family | uppercase}} </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card *ngIf="display() && user">
    <br><ion-title>Note : </ion-title><br>
    <p>N'oubliez-pas d'ajouter des compétences et des intérêts pour profiter au maximum de l'application</p><br>
  </ion-card>
</ion-content>

<ion-footer>

</ion-footer>
