
.flex {
    height: 100%;
    width: 100%;
}

ion-header {
    --ion-background-color: var(--ion-color-primary);
}

ion-title {
    text-align: center;
    color: var(--ion-color-light);
}

ion-card-title{
    text-align: center;
    font-size: 110%;
}
ion-button{
    font-size: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    width: 60%;
}

ion-content {
    --ion-background-color: var(--ion-color-four);
}

ion-card {
    width: 85%;
    margin: 5% auto;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--ion-color-light);
}

ion-img{
    width: 60%;
}
table{
    width: 100%;
}
tr:first-child, tr:first-child .middle{
    height: 100px;
}
.column2{
    float: left;
}
.left2, .right2{
    width: 10%;
    height: 30%;
}
.left2 ion-img, .right2 ion-img{
    width: 80%;
}
.middle {
    width: 80%;
}
.middle ion-icon{
    font-size: 100px;
}

.plus{
    text-align: right;
    float: right;
    margin-right: 1%;
}

ion-icon{
    display: block;
    margin: auto;
    color: var(--ion-color-tertiary);
}

.row{
    margin-right: 2%;
    margin-left: 2%;
}
.column {
    float: left;
}
.left {
    width: 10%;
}
.right {
    width: 90%;
}

.buble {
    margin: 2%;
    width: 84%;
}

.buble ion-label {
    margin: 10px 1px;
    padding: 2px;

    overflow: hidden;
    white-space: initial;

    border: 1px var(--ion-color-medium) solid;
    border-radius: 50px;
}

.about{
    height: 50%;
    margin-bottom: 5%;
}