.flex {
    height: 100%;
    width: 100%;
}

ion-header {
    --ion-background-color: var(--ion-color-primary);
}

ion-title {
    text-align: center;
    color: var(--ion-color-light);
}

ion-content {
    --ion-background-color: var(--ion-color-four);
}

ion-card {
    width: 85%;
    margin: 5% auto;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--ion-color-light);
}

/**************************************** Dimension : image / icon ****************************************/

/* Dimensions de l'icon pour l'avatar */
ion-card:nth-child(1) > ion-icon {
    width: 125px;
    height: 125px;
}

/* Dimention icon lieu (Villen, Pays) */
ion-card:nth-child(1) div ion-icon {
    width: 20px;
    height: 20px;
}

/* Dimention des imgs (paramètre, modif profile & skill) et des icons (compétence, interet) */
ion-card:nth-child(2) ion-icon,
ion-card ion-img {
    width: 25px;
    height: 25px;
}

/**************************************** Color ****************************************/

/* Couleur des icones (avatar, compétence et interet) */
ion-icon {
    color: var(--ion-color-tertiary);
}

/**************************************** Format ****************************************/

/********** 1er block ("profil") **********/

ion-card:nth-child(1) {
    text-align: center;
}

ion-card:nth-child(1) a {
    position: absolute;
}
/* Parametre */
ion-card:nth-child(1) a:first-of-type {
    top: 4%;
    left: 4%;
}
/* Modif profile */
ion-card:nth-child(1) a:last-of-type {
    top: 4%;
    right: 4%;
}

ion-card:nth-child(1) > div {
    margin: 0 auto;
    width: 65%;
}

/********** 2eme block (Competence et Interet) **********/

ion-card:nth-child(2) > div {
    width: 100%;
}

ion-card:nth-child(2) > div,
ion-card:nth-child(2) > div > div > div{
    display: flex;
}

ion-card:nth-child(2) > div > div:first-of-type {
    width: 90%;
}

ion-card:nth-child(2) > div > div:last-of-type {
    width: 10%;
}

ion-card:nth-child(2) ion-label {
    padding: 2px;
    border: 1px var(--ion-color-medium) solid;
    border-radius: 50px;
}
.buble{
    width: 90%;
}
ion-label{
    overflow: hidden;
    white-space: initial;
}

/********** 3eme block ("A propos...") **********/

ion-card:nth-child(3) {
    margin-bottom: 22%;
    min-height: 25%;
    text-align: justify;
}