<div class="flex">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>
                Moi
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-card>
            <div>
                <a routerLink="/settings">
                    <ion-img src="./assets/icon/settings-purple-24dp/baseline_settings_purple_24dp.png"></ion-img>
                </a>
            </div>

                <ion-icon name="person-circle-outline"></ion-icon>

            <div>
                <a routerLink="">
                    <ion-img src="./assets/icon/edit-purple-18dp/baseline-edit-purple-18dp.png"></ion-img>
                </a>
            </div>


            <ion-card-header>
                <ion-card-title>{{name}} {{family}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-icon name="pin"></ion-icon>
                {{ville}}, {{pays}}
            </ion-card-content>
        </ion-card>

        <ion-card>
            <div>
                <div>
                    <ion-icon name="bulb"></ion-icon>
                    <div>
                        <span>Compétence</span>
                        <span>Compétence</span>
                    </div>
                </div>
                <div>
                    <ion-icon name="school"></ion-icon>
                    <div>
                        <span>Interet</span>
                        <span>Interet</span>
                    </div>
                </div>
            </div>

            <div>
                <ion-button color="tertiary" shape="round" size="small" routerLink="/skills"><ion-icon name="add-outline"></ion-icon></ion-button>
                <!--<img src="./assets/icon/add_circle_outline-purple-24dp/baseline_add_circle_outline_purple_24dp.png">-->
            </div>
        </ion-card>

        <ion-card>
            <ion-card-content>A propos...</ion-card-content>
        </ion-card>
    </ion-content>
</div>


<!-- Pour Moi -->
<!-- 300 - 635 -->