<div class="flex">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>
                Moi
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <!-- 1er block ("profil") -->
        <ion-card *ngIf="user">
            <a shape="round" routerLink="/settings">
                <ion-img src="./assets/icon/settings-purple-24dp/baseline_settings_purple_24dp.png"></ion-img>
            </a>
            <ion-icon name="person-circle-outline"></ion-icon>

            <a shape="round" routerLink="">
                <ion-img src="./assets/icon/edit-purple-18dp/baseline-edit-purple-18dp.png"></ion-img>
            </a>
            <ion-card-header>
                <ion-card-title>{{user.name}} {{user.family | uppercase}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-icon name="pin"></ion-icon>
                {{ville}}, {{user.country}}
            </ion-card-content>
        </ion-card>
        <!-- 2eme block (Compétence et Interet) -->
        <ion-card>
            <div>
                <div> <!-- div : all skill -->
                    <div> <!-- div : Compétence -->
                        <div>
                            <ion-icon name="bulb"></ion-icon>
                        </div>
                        <div class="buble">
                            <ion-label>Compétence</ion-label>
                            <ion-label>Compétence</ion-label>
                        </div>
                    </div>
                    <div> <!-- div : Interet -->
                        <div>
                            <ion-icon name="school"></ion-icon>
                        </div>
                        <div class="buble">
                            <ion-label>Interet</ion-label>
                            <ion-label>Interet</ion-label>
                        </div>
                    </div>
                </div>

                <div> <!-- div : modif skill -->
                    <div>
                        <a shape="round" routerLink="/skills">
                            <ion-img src="./assets/icon/add_circle_outline-purple-24dp/baseline_add_circle_outline_purple_24dp.png"></ion-img>
                        </a>
                    </div>
                </div>
            </div>
        </ion-card>

        <!-- 3eme block ("A propos...") -->
        <ion-card>
            <ion-card-content>
                {{propos}}
            </ion-card-content>
        </ion-card>
    </ion-content>
</div>


<!-- Pour Moi -->
<!-- 300 - 635 -->
