<div class="flex">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/tabs/tab1" text="retour"></ion-back-button>
            </ion-buttons>

            <ion-title>Paramètres</ion-title>
        </ion-toolbar>

    </ion-header>

    <ion-content>
        <ion-card>
            <ion-title class="ion-text-center">Contactez-nous</ion-title>
            <ion-item detail routerLink="/settings">
                <ion-label>Aide et assistance</ion-label>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-title class="ion-text-center">Communauté</ion-title>
            <ion-item class="ion-text-center" detail routerLink="/settings">
                <ion-label>Règles de la communauté</ion-label>
            </ion-item>
            <ion-item class="ion-text-center" detail routerLink="/settings">
                <ion-label>Conseils de sécurité</ion-label>
            </ion-item>
            <ion-item class="ion-text-center" detail routerLink="/settings">
                <ion-label>Centre de sécurité</ion-label>
            </ion-item>
        </ion-card>

        <ion-card>
            <a routerLink="">Partager SkillXT</a>
        </ion-card>

        <ion-card>
            <ion-title class="ion-text-center">Mentions légales</ion-title>
            <ion-item class="ion-text-center" detail routerLink="/settings">
                <ion-label>Licences</ion-label>
            </ion-item>
            <ion-item class="ion-text-center" detail routerLink="/settings">
                <ion-label>Préférences de confidentialité</ion-label>
            </ion-item>
            <ion-item class="ion-text-center" detail routerLink="/settings">
                <ion-label>Politique de confidentialité</ion-label>
            </ion-item>
            <ion-item class="ion-text-center" detail routerLink="/settings">
                <ion-label>Conditions d'utilisation</ion-label>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-item class="ion-text-center" detail routerLink="/settings">
                <ion-label>Déconnexion</ion-label>
                <img src="./assets/icon/login_red_18dp/baseline_login_red_18dp.png" alt="sign out icon">
            </ion-item>
        </ion-card>
    </ion-content>

    <ion-footer>

    </ion-footer>
</div>