ion-header {
  --ion-background-color: var(--ion-color-primary);
}

ion-header ion-title{
  color: var(--ion-color-light);
}

ion-title {
  text-align: center;
  color: var(--ion-color-primary-contrast);
}

ion-content ion-card-title, ion-card-content {
  text-align: center;
}

ion-content{
  --ion-background-color: var(--ion-color-four);
}

ion-card {
  width: 85%;
  margin: 15% auto;
  border-radius: 20px;
  padding: 5px;
  background-color: var(--ion-color-light);
}

ion-button {
  display: block;
  margin: 0 auto 5%;
  width: 60%;
  color: var(--ion-color-primary);
  --background: var(--ion-color-four);

}