<ion-header [translucent]="true">
  <ion-toolbar><ion-title>Matchs</ion-title></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button shape="round" size="small" (click)="refresh()"><ion-icon name="reload-outline"></ion-icon>refresh</ion-button>

  <ion-card *ngFor="let user of matchs">
    <ion-card-title>{{user.name}} {{user.family | uppercase}}</ion-card-title>
    <ion-card-content>
      <ion-label>{{user.country}}</ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
