ion-header{
  --ion-background-color: var(--ion-color-primary);
}

ion-back-button{
  color: var(--ion-color-light);
}

ion-content{
  --ion-background-color: var(--ion-color-secondary);
}

.flex {
  height: 100%;
  width: 100%;
}
ion-card {
  width: 85%;
  margin: 7%;
  border-radius: 20px;
  padding: 3%;
  background-color: var(--ion-color-light);
}

ion-input {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  color: #0d0d0d;
  background-color: var(--ion-color-four-tint);
  width: 90%;
}

ion-button {
  display: block;
  margin: 10% auto 5%;
  width: 60%;
  color: var(--ion-color-light);
  --background: var(--ion-color-primary);
}

a {
  margin: 3% auto;
  display: block;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 1%;
}

span{
  margin-left: 7%;
  margin-top: 0.5%;
  margin-bottom: 5%;
  color: #989aa2;
}

p{
  margin-left: 7%;
  margin-bottom: 0;
  color: var(--ion-color-primary);
  font-size: 110%;
  font-weight: bold;
}

ion-select-option{
  color: #0d0d0d;
}
