<div class="flex">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/tabs/tab1" text="retour"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>

    </ion-header>

    <ion-content>
        <ion-buttons slot="start">
            <ion-back-button routerLink="/tabs/tab1" text="retour"></ion-back-button>
        </ion-buttons>
        <!--    logo-->
        <img src="./assets/images/logoSXT.png">

        <ion-card>
            <form [formGroup]="ionicForm">
                <ion-input placeholder="nom" formControlName="family" [(ngModel)]="family" ></ion-input>
                <span class="error" *ngIf="errorControl.family.errors?.required">Family name is required.</span>

                <ion-input placeholder="prénom" formControlName="name" [(ngModel)]="name" ></ion-input>
                <span class="error" *ngIf="errorControl.name.errors?.required">Given name is required.</span>

                <ion-input placeholder="email" type="email" formControlName="email" [(ngModel)]="email" ></ion-input>
                <span class="error" *ngIf="errorControl.email.errors?.pattern">Please provide valid email id.</span>
                <span class="error" *ngIf="errorControl.email.errors?.required">Email is required.</span>

                <ion-input placeholder="mot de passe" type="abc" formControlName="password"></ion-input>
                <span class="error" *ngIf="errorControl.password.errors?.required">Password is required.</span>

                <ion-input placeholder="confirmer le mot de passe" type="abc" formControlName="confirmPassword" [(ngModel)]="password"></ion-input>
                <span class="error" *ngIf="errorControl.confirmPassword.errors?.required">Password is required.</span>
                <span class="error" *ngIf="errorControl.confirmPassword.errors?.confirmedValidator">Password and confirm Passwords must match.</span>
            </form>
                <section>
                    <ion-button shape="round" (click)="onSave()">Créer un compte</ion-button>
                </section>
            <a class="ion-text-center" routerLink="/sign-in">Se connecter</a>
        </ion-card>
    </ion-content>
</div>
