<div class="flex">
  <ion-content>

<!--    logo-->
    <img src="./assets/images/vulbis_orig.png" width="200">

    <ion-card>

      <ion-input placeholder="nom"></ion-input>
      <ion-input placeholder="prénom"></ion-input>

      <ion-input class="separator" placeholder="mail"></ion-input>

      <ion-input placeholder="mot de passe" type="password"></ion-input>
      <ion-input placeholder="mot de passe" type="password"></ion-input>

      <ion-button class="separator" shape="round">Créer un compte</ion-button>

      <a routerLink="/sign-in">Se connecter</a>
    </ion-card>
  </ion-content>
</div>