<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/me" text="retour"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div id="sides">
        <div>
          <a [ngClass]="[btnStyleComp]" (click)="dispComp()">Compétences</a>
        </div>
        <div>
          <a [ngClass]="[btnStyleInt]" (click)="dispInt()">Intérêts</a>
        </div>
      </div>
    </ion-card-header>
    <app-interests *ngIf="!show"></app-interests>
    <app-competences *ngIf="show"></app-competences>
  </ion-card>
</ion-content>
