<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" text="retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajout Compétences</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div id="sides">
        <div>
          <a>Compétences</a>
        </div>
        <div>
          <a>Intérêts</a>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div id ="research">
        <div>
          <ion-input placeholder="Ex: Piano"></ion-input>
        </div>
        <div>
          <a>Recherche</a>
        </div>
      </div>
      <ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-label>Intérêts</ion-label>
            <ion-toggle color="primary"></ion-toggle>
          </ion-item>

          <ion-item>
            <ion-label>Intérêts</ion-label>
            <ion-toggle color="primary"></ion-toggle>
          </ion-item>

        </ion-list>
      </ion-toolbar>

    </ion-card-content>
  </ion-card>
</ion-content>
